// base styles

// Apply to all pages
* {
    // width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Cinzel', serif;
    color: white;
    scroll-behavior: smooth;
}
// nav styling
nav {
    text-align: center;
    display: inline-block;
}
// a tag/links styling
a {
    text-decoration: none;
}
// padding for nav buttons 
button {
    background-color: rgb(25, 25, 25);
    padding: 0em 7em;
    color: white;
}
// centering h2 all tags
h2 {
    margin: 0;
}
// styling for paragraphs
p {
    font-size: 24px;
} 
// padding for table
table {
    padding: 5em 30em;
}
// input submit styling
input[type="submit"] {
    background-color: rgb(50, 115, 50);
}
// input text styling
input[type="text"] {
    color: black;
    width: 19em;
}
// font color for select, option and textarea
select, 
option,
textarea {
    color: black;
}