// grid layout

// nav-hero-grid which holds the navbar and header area
.nav-hero-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "nav"
        "hero"
}
// navbar area
nav {
    grid-area: nav;
    background-color: $grass-green;
    padding: 1em;
    // width: 100%;
}
// header area
.hero {
    grid-area: hero;
}

// activities-grid for index.html
.activities-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "main"
        "main"
}
// main area
main {
    grid-area: main;
    background-color: $charcoal;
    // width: 100%;
    padding: 1em;
}

// activities-nested-grid for index.html
.activities-nested-grid {
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "camp-picture camp-art"
        "hike-art hike-picture"
        "canoe-picture canoe-art"
        "climb-art climb-picture"
        "fish-picture fish-art" 
        "hunt-art hunt-picture"
}
.camp-picture {
    grid-area: camp-picture;
    background-color: $off-white;
    padding: 1em;
}

.camp-art {
    padding-top: 1em;
    grid-area: camp-art;
    background-color: $grass-green;
}

.hike-picture {
    grid-area: hike-picture;
    background-color: $off-white;
    padding: 1em;
}

.hike-art {
    padding-top: 1em;
    grid-area: hike-art;
    background-color: $grass-green;
}

.canoe-picture {
    grid-area: canoe-picture;
    background-color: $off-white;
    padding: 1em;
}

.canoe-art {
    padding-top: 1em;
    grid-area: canoe-art;
    background-color: $grass-green;
}

.climb-picture {
    grid-area: climb-picture;
    background-color: $off-white;
    padding: 1em;
}

.climb-art {
    padding-top: 1em;
    grid-area: climb-art;
    background-color: $grass-green;
}

.fish-picture {
    grid-area: fish-picture;
    background-color: $off-white;
    padding: 1em;
}

.fish-art {
    padding-top: 1em;
    grid-area: fish-art;
    background-color: $grass-green;
}

.hunt-picture {
    grid-area: hunt-picture;
    background-color: $off-white;
    padding: 1em;
}

.hunt-art {
    padding-top: 1em;
    grid-area: hunt-art;
    background-color: $grass-green;
}


// footer grid
.footer-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "footer"
        "footer"
}

footer {
    grid-area: footer;
    background-color: $grass-green;
    // width: 100%;
    padding: 1em;
}

// gallery grid for gallery page
.gallery-grid {
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    grid-template-areas: 
        "photo1 photo2 photo3"
        "photo4 photo5 photo6"
        "photo7 photo8 photo9"
        "photo10 photo11 photo12"
        "photo13 photo14 photo15"
        "photo16 photo17 photo18"
}

.photo1 {
    grid-area: photo1;
    height: 40vh;
    background-image: url(../img/camping1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 30;
}

.photo2 {
    grid-area: photo2;
    height: 40vh;
    background-image: url(../img/camping2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 30;
}

.photo3 {
    grid-area: photo3;
    height: 40vh;
    background-image: url(../img/camping3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 30;
}

.photo4 {
    grid-area: photo4;
    height: 40vh;
    background-image: url(../img/hiking1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 30;
}

.photo5 {
    grid-area: photo5;
    height: 40vh;
    background-image: url(../img/hiking2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 20;
}

.photo6 {
    grid-area: photo6;
    height: 40vh;
    background-image: url(../img/hiking3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 30;
}

.photo7 {
    grid-area: photo7;
    height: 40vh;
    background-image: url(../img/canoeing1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 20;
}

.photo8 {
    grid-area: photo8;
    height: 40vh;
    background-image: url(../img/canoeing2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 30;
}

.photo9 {
    grid-area: photo9;
    height: 40vh;
    background-image: url(../img/canoeing3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 20;
}

.photo10 {
    grid-area: photo10;
    height: 40vh;
    background-image: url(../img/climbing1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 20;
}

.photo11 {
    grid-area: photo11;
    height: 40vh;
    background-image: url(../img/climbing2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 30;
}

.photo12 {
    grid-area: photo12;
    height: 40vh;
    background-image: url(../img/climbing3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 20;
}

.photo13 {
    grid-area: photo13;
    height: 40vh;
    background-image: url(../img/fishing1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 30;
}

.photo14 {
    grid-area: photo14;
    height: 40vh;
    background-image: url(../img/fishing2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 20;
}

.photo15 {
    grid-area: photo15;
    height: 40vh;
    background-image: url(../img/fishing3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 20;
}


.photo16 {
    grid-area: photo16;
    height: 40vh;
    background-image: url(../img/hunting2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 30;
}

.photo17 {
    grid-area: photo17;
    height: 40vh;
    background-image: url(../img/hunting3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // grid-column: span 2;
    // grid-row: span 30;
}

.photo18 {
    grid-area: photo18;
    height: 40vh;
    background-image: url(../img/hunting4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // grid-column: span 2;
    // grid-row: span 30;
}

// form grid for contact page
.form-grid {
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "name-box name-box"
        "surname-box surname-box"
        "email-box email-box"
        "activity-box activity-box"
        "message-box message-box"
        "submit submit"
}

.name-box {
    grid-area: name-box;
    padding: 1em;
}

.surname-box {
    grid-area: surname-box;
    padding: 1em;
}

.email-box {
    grid-area: email-box;
    padding: 1em;
}

.activity-box {
    grid-area: activity-box;
    padding: 1em;
}

.message-box {
    grid-area: message-box;
    padding: 1em;
}

.submit {
    grid-area: submit;
    padding: 1em;
}