// grid layout

// nav-hero-grid which holds the navbar and header area
.nav-hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "nav"
        "hero"
}
// navbar area
nav {
    grid-area: nav;
    background-color: $grass-green;
    padding: 1em;
    width: 100%;
}
// header area
.hero {
    grid-area: hero;
    padding: 1em;
    width: 100%;
}

// activities-grid for index.html
.activities-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "main"
        "main"
}
// main area
main {
    grid-area: main;
    background-color: $charcoal;
    width: 100%;
    padding: 1em;
}

// activities-nested-grid for index.html
.activities-nested-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "camping hiking"
        "canoeing climbing"
        "fishing hunting"
}
.camping {
    grid-area: camping;
    background-color: $grass-green;
    padding: 1em;
}

.hiking {
    grid-area: hiking;
    background-color: $grass-green;
    padding: 1em;
}

.canoeing {
    grid-area: canoeing;
    background-color: $grass-green;
    padding: 1em;
}

.climbing {
    grid-area: climbing;
    background-color: $grass-green;
    padding: 1em;
}

.fishing {
    grid-area: fishing;
    background-color: $grass-green;
    padding: 1em;
}

.hunting {
    grid-area: hunting;
    background-color: $grass-green;
    padding: 1em;
}


// footer grid
.footer-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "footer"
        "footer"
}

footer {
    grid-area: footer;
    background-color: $grass-green;
    width: 100%;
    padding: 1em;
}

// gallery grid for gallery page
.gallery-grid {
    padding-top: 1em;
    display: grid;
    width: 100%;
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

.photo1 {
    background-image: url(../img/camping1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 30;
}

.photo2 {
    background-image: url(../img/camping2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 30;
}

.photo3 {
    background-image: url(../img/camping3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 30;
}

.photo4 {
    background-image: url(../img/camping4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 30;
}

.photo5 {
    background-image: url(../img/camping5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 20;
}

.photo6 {
    background-image: url(../img/hiking1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 30;
}

.photo7 {
    background-image: url(../img/hiking2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 20;
}

.photo8 {
    background-image: url(../img/canoeing1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 30;
}

.photo9 {
    background-image: url(../img/canoeing2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 20;
}

.photo10 {
    background-image: url(../img/climbing1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 20;
}

.photo11 {
    background-image: url(../img/climbing2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 30;
}

.photo12 {
    background-image: url(../img/climbing3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 20;
}

.photo13 {
    background-image: url(../img/fishing1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 30;
}

.photo14 {
    background-image: url(../img/fishing2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 20;
}

.photo15 {
    background-image: url(../img/fishing3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 20;
}


.photo16 {
    background-image: url(../img/hunting2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 30;
}

.photo17 {
    background-image: url(../img/hunting3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 30;
}

.photo18 {
    background-image: url(../img/hunting4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 2;
    grid-row: span 30;
}

// .photo19 {
//     background-image: url(../img/hunting5.jpg);
//     background-size: cover;
//     background-repeat: no-repeat;
//     grid-column: span 2;
//     grid-row: span 30;
// }

// form grid for contact page
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "name-box name-box"
        "surname-box surname-box"
        "email-box email-box"
        "activity-box activity-box"
        "message-box message-box"
        "submit submit"
}

.name-box {
    grid-area: name-box;
    padding: 1em;
}

.surname-box {
    grid-area: surname-box;
    padding: 1em;
}

.email-box {
    grid-area: email-box;
    padding: 1em;
}

.activity-box {
    grid-area: activity-box;
    padding: 1em;
}

.message-box {
    grid-area: message-box;
    padding: 1em;
}

.submit {
    grid-area: submit;
    padding: 1em;
}